<h1>Sign In</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action={% url 'login' %} method="post">{% csrf_token %}
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>